<div class="container">

  <div>
    <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
  </div>

  <table id="cart0" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width:25%">Logement</th>
      <th style="width:12%" class="text-center" >Où</th>
      <th style="width:12%" class="text-center">Chez qui</th>
      <th style="width:5%" class="text-center">Prix/Nuit</th>
      <th style="width:12%" class="text-center">Durée</th>
      <th style="width:5%" class="text-center">Prix</th>
      <th style="width:10%"></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let R of get_logement(); let i = index">
      <td data-th="Product">
        <div class="row">

          <div class="col-sm-2 hidden-xs" *ngIf="R.logement.images[0]"><img src="/assets/img/{{R.logement.images[0].path}}" class="img-responsive"/></div>

          <div class="col-sm-2 hidden-xs" *ngIf="!R.logement.images[0]"><img src="/assets/img/salon.jpg" class="img-responsive"/></div>


          <div class="col-sm-10">
            <h4 class="nomargin"> Logement N° {{i+1}}</h4>
            <p>{{R.logement.titre}}</p>
          </div>
        </div>
      </td>
      <td data-th="ville" class="text-center">
        {{R.logement.ville}}
      </td>
      <td data-th="client" class="text-center">
        {{R.logement.client.nom}} {{R.logement.client.prenom}}
      </td>

      <td data-th="" class="text-center">{{R.logement.prix}}€</td>

      <td data-th="Durée" class="text-center">{{get_dure(R.date_Debut,R.date_Fin)}} Nuits</td>

      <td data-th="Prix" class="text-center">{{R.prix_duree}}€</td>

      <td class="text-center">
        <button (click)="delete_logement(i)" class="btn btn-danger btn-sm " data-toggle="confirmation" ><i class="fa fa-trash-o "></i></button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td><a href="/recherche" class="btn btn-warning"><i class="fa fa-angle-left"></i> Autre recherche </a></td>
      <td colspan="4" class="hidden-xs"></td>
      <td class="hidden-xs text-center col-lg-1"><strong>Total {{get_total()}} €</strong></td>
      <td><a (click)="toBuy()" class="btn btn-success btn-block">Payer <i class="fa fa-angle-right"></i></a></td>
    </tr>
    </tfoot>
  </table>

</div>
