
<div class="container spacer" style="text-align : right">
        <button routerLink="/" class="btn btn-primary">Accueil</button>
        <button routerLink="/inscriptionHote" class="btn btn-primary">Devenir Hôte</button> 
        <button routerLink="/EspaceHote" class="btn btn-primary">Espace Hôte</button> 
</div>
<div class="container spacer" style="text-align : left">
    <a><img routerLink="/"  src="assets/img/roombookingLogo.png" /></a>
    <button routerLink="/login" class="btn btn-link" style="float: right;">Se connecter</button>  
    <button routerLink="/inscription" class="btn btn-link" style="float: right;">S'inscrire</button>  
    
</div>

<router-outlet>

</router-outlet>

