<div class="container spacer">
<div class="panel panel-primary">
  <div class="panel-heading">Inscription Hôte</div>
  <div class="panel-body">
    <div class="form-group">
        <label class="control-label">Nom:</label>
        <input class="form-control" type="text" [(ngModel)]="newHote.nom"/>
    </div>
    <div class="form-group">
        <label class="control-label">Prénom:</label>
        <input class="form-control" type="text" [(ngModel)]="newHote.prenom"/>
    </div>
    <div class="form-group">
        <label class="control-label">Tel:</label>
        <input class="form-control" type="text" [(ngModel)]="newHote.tel"/>
    </div>    
    <div class="form-group">
        <label class="control-label">Email:</label>
        <input class="form-control" type="email" [(ngModel)]="newHote.email"/>
    </div>
    <div class="form-group">
        <label class="control-label">Date de naissance:</label>
        <input class="form-control" type="date" [(ngModel)]="newHote.dateNaissance"/>
    </div>
    <div class="form-group">
        <label class="control-label">Créez un mot de passe:</label>
        <input class="form-control" type="password" [(ngModel)]="newHote.mdp"/>
    </div>
    <div class="form-group">
        <label class="control-label">Confirmez votre mot de passe: </label>
        <input class="form-control" type="password" />  
    </div>

    <button class="btn btn-primary" (click)= "saveHote()" > S'inscrire </button>  
  </div>
</div>
</div>