/* You can add global styles to this file, and also import other style files */
.spacer{
    margin-top: 5px;
}

.customClass {
    background-color: rgb(231, 235, 238);
    border-radius: 5px;
    margin:5px;
    width: 500px;
}

.customClass .img-ul-upload {
    background-color: rgb(138, 135, 135) !important;
}

.customClass .img-ul-clear {
    background-color: rgb(192, 193, 197) !important;
}

.customClass .img-ul-drag-box-msg {
    color: rgb(185, 179, 185) !important;
}

.customClass .img-ul-container {
    background-color: rgb(239, 241, 243) !important;
}

.clickable
{
  cursor: pointer;
}



